<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d9d0ba98-c58d-4d39-8905-71c90dee8010/resourceGroups/ASPNETCORE5/providers/Microsoft.Web/sites/BOOTCAMPDEVCars</ResourceId>
    <ResourceGroup>ASPNETCORE5</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://bootcampdevcars.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://bootcampdevcars.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>250d39db-4672-4f72-9682-ef8ad8e7948f</ProjectGuid>
    <MSDeployServiceURL>waws-prod-cq1-025.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BOOTCAMPDEVCars</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BOOTCAMPDEVCars</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>